/* 
 * File: index.css
 * Desc: Styling for login page for 337 Final Project.
 */
 body {
    font-family: 'Lucida Sans';
    background-color: deepskyblue;
    color: white;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-style: bold;
}

span {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

input{
    font-family: 'Lucida Sans';
    font-size: 24px;
}

button {
    font-family: 'Lucida Sans';
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.helpButton {
    position: absolute;
    bottom: 10%;
    left: 2%;
}